{% extends 'base.html' %}

{% block title %}
    部门管理
{% endblock %}

{% block content-header %}部门管理{% endblock %}

{% block ke_xuan_shuo_ming %}Version1.0{% endblock %}

{% block here %}部门管理{% endblock %}

{% block content %}
    {% if departments %}
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">部门列表</h3>
                        <small>共{{ total_departments }}个部门</small>
                        <div class="box-tools">
                            <a href="{% url 'departments:department_create' %}"><span class="btn btn-default">新建部门</span></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th style="text-align:center;vertical-align:middle;">部门ID</th>
                                <th style="text-align:center;vertical-align:middle;">部门</th>
                                <th style="text-align:center;vertical-align:middle;">备注</th>
                                <th style="text-align:center;vertical-align:middle;">操作</th>
                            </tr>
                            {% for department in departments %}
                            <tr>
                                <td style="text-align:center;vertical-align:middle;">{{ department.id }}</td>
                                <td style="text-align:center;vertical-align:middle;">{{ department.name }}</td>
                                <td style="text-align:center;vertical-align:middle;">{{ department.comment }}</td>
                                <td style="text-align:center;vertical-align:middle;">
                                    <a href="{% url 'departments:department_update' department.id %}"><span class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> 修改</span></a>
                                    <a href="#" data-toggle="modal" data-target="#department{{ department.pk }}"><span class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 删除</span></a>
                                </td>
                            </tr>
                                <div class="modal fade in" id="department{{ department.pk }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title"><span class="fa fa-warning"></span> 警告</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h5 style="text-align:center;vertical-align:middle;">确认删除 <span class="label label-danger">{{ department.name }}</span> 吗?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{% url 'departments:department_delete' department.pk %}" method="post" >
                                                    {% csrf_token %}
                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                                                    <button type="submit" class="btn btn-danger">确认删除</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </table>
                    </div>
                    {% if is_paginated %}
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-flat no-margin pull-right">
                            {% if page_obj.number != 1 %}
                                <li><a href="?page=1">«</a></li>
                            {% else %}
                                <li><a href="#" class="disabled">«</a></li>
                            {% endif %}
                            {% for page in page_range %}
                            {% if page_obj.number != page %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="#" class="disabled">{{ page }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.number != page_obj.paginator.num_pages %}
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">»</a></li>
                            {% else %}
                                <li><a href="#" class="disabled">»</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <p>没有部门，请新建部门:<a href="{% url 'departments:department_create' %}" class="btn btn-default">新建部门</a></p>
    {% endif %}
{% endblock %}
