<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
</head>
<body>
    <button type="button" name="新建产品"><a href="{% url 'products:product_create' %}">新建产品</a></button><br>
    {% if products %}
        <table border="1">
        <tr>
            <th>UID</th>
            <th>产品名</th>
            <th>产品拥有人</th>
            <th>上线选项</th>
            <th>当前版本</th>
            <th>操作</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>
                    {% for employee in product.employees.all %}
                        <span>{{ employee.fullname }}</span>
                    {% endfor %}
                </td>
                <td>{{ product.sync_type }}</td>
                <td>{{ product.version }}</td>
                <td>
                    <button type="button" name="详情"><a href="{% url 'products:product_detail' product.id %}">详情</a></button>
                    <button type="button" name="修改"><a href="{% url 'products:product_update' product.id %}">修改</a></button>
                    <button type="button" name="删除"><a href="{% url 'products:product_delete' product.id %}">删除</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
        {% else %}
                  <strong>No product here.</strong>
    {% endif %}

</body>
</html>
